/aquino_and_gandee/front-end-dev-resources
/aquino_and_gandee/skomsky_ottergram/nbproject/private/
/aquino_and_gandee/skomsky_web/nbproject/private/
/aquino_and_gandee/skomsky_flexbox1/nbproject/private/
/aquino_and_gandee/skomsky_flexbox1/build/
/aquino_and_gandee/HealthSystem/nbproject/private/
/aquino_and_gandee/Skomsky_HealthSystem/nbproject/private/
/aquino_and_gandee/SandBox/nbproject/private/