@font-face {
    font-family: 'lakeshore';
    src: url('fonts/LAKESHOR-webfont.eot');
    src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LAKESHOR-webfont.woff') format('woff'),
         url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
         url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;           /* flexbox: */
}
body {
    display: flex;          /* flexbox: */ 
    flex-direction: column; /* flexbox: */
    font-size: 10px;
    background: rgba(130, 159, 217, 1); /* Glowing-Blue-5-RGBA */
}
a {
    text-decoration: none; // <li> display: block; removes bullets!
}

.main-header {
    flex: 0 1 auto;         /* flexbox: */
}

.logo-text {
    font-family: lakeshore;
    text-align: center;
    text-transform: uppercase;
    font-size: 37px;
    color: rgba(92, 115, 242, 1);
    background-color: rgba(62, 56, 242, 1);
}
.main-content {
    flex: 1 1 auto;         /* flexbox: */
    display: flex;          /* flexbox: */ 
    flex-direction: column; /* flexbox: */   
}
/*
.thumbnail-item + .thumbnail-item {
    margin-top: 10px;
} */
.thumbnail-list {
    white-space: nowrap;
    overflow-x: auto;
    list-style: none;
    flex: 0 1 auto; /* flexbox: */
    order: 2; /* flexbox: move the thumbnail list below the detail image */
    display: flex; /* flexbox: */
    justify-content: space-between; /* flexbox: spacing */
    padding: 0;
}
.thumbnail-item {
    display: inline-block;
/*  value=block
    description:displays an element as a block element (like <p>). 
                line break before and after the element, 
                and takes up the whole width
    value=inline-block
    description:the element's box is drawn same as 'block' but without the 
                before/after <br>'s*/

                       /*   r,  g,  b, a     a=opactity                       */ 
    border: 1px solid rgb (35, 10, 89, 1);/* all browsers see this - fallback */
    border: 1px solid rgba(35, 10, 89, 1);/* if not supported this is ignored */
    min-width: 150px; /* flexbox: this will remove the variations in size */
    max-width: 150px;
}
.thumbnail-img {
    width: 100%;
    display: block;
}
.thumbnail-title {
    display: block;
    margin: 0;
    padding: 4px 10px;
    background: rgba(35, 10, 89, 1);
    color: rgba(130, 159, 217, 1);
    border-radius: 0px;
    font-size: 18px;
}

.detail-image-title {
    position: absolute; /* flexbox */
    bottom: 435px;      /* flexbox */
    left: 50px;          /* flexbox */
    color: white;
    font-size: 40px;
    text-shadow: rgba(0, 0, 0, .9) 1px 2px 9px;
}

.detail-image-container { /* flexbox: */
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.detail-image-frame {
    position: relative; /* flexbox: */
    text-align: center;
}

.detail-image {
    width: 90%;
    opacity: 1;   
}


/* Color Theme Swatches in RGBA  darkest top to lightest bottom
Glowing-Blue-1-rgba { color: rgba(35, 10, 89, 1); }
Glowing-Blue-2-rgba { color: rgba(62, 56, 242, 1); }
Glowing-Blue-3-rgba { color: rgba(0, 41, 250, 1); }
Glowing-Blue-4-rgba { color: rgba(92, 115, 242, 1); }
Glowing-Blue-5-rgba { color: rgba(130, 159, 217, 1); }
*/

